html,body {
  height:100%;
}

h1 {
  font-family: Arial,sans-serif
  font-size:80px;
  color:#DDCCEE;
}

.lead {
	color:#DDCCEE;
}

#clasificador, #btnCalcular, #btnLimpiar {
  background-color:#f39c12;
}

#textocopyright {
  color:#FFFFFF;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:50%;
  background-color:#f39c12;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

body {
height: auto;
  background-image: url("../images/Background2.jpg");
}
